# IDE
/.vscode
VectorContainers/.vs
VectorContainers/.DS_Store

# misc
/bin
/obj
**/VectorContainers/Token.API/VData/*
VectorContainers/.DS_Store
VectorContainers/.vs/VectorContainers/xs/sqlite3/db.lock
VectorContainers/Token.API/obj/Debug
VectorContainers/Token.API/bin/.DS_Store
VectorContainers/Token.API/bin/Debug/.DS_Store
VectorContainers/Token.API/bin/Debug/netcoreapp2.1/Token.API.deps.json
VectorContainers/Token.API/.DS_Store
VectorContainers/Token.API/.DS_Store
VectorContainers/Token.API/bin/Debug/netcoreapp2.1/Token.API.dll
VectorContainers/Token.API/bin/Debug/netcoreapp2.1/Token.API.pdb
VectorContainers/Token.API/bin/Debug/netcoreapp2.1/Token.API.runtimeconfig.dev.json
VectorContainers/Token.API/bin/Debug/netcoreapp2.1/Token.API.runtimeconfig.json
VectorContainers/Token.API/obj/project.assets.json
VectorContainers/Token.API/obj/Token.API.csproj.nuget.cache
VectorContainers/Token.API/obj/Token.API.csproj.nuget.g.props
VectorContainers/Token.API/obj/Token.API.csproj.nuget.g.targets
VectorContainers/Token.API/VData/_DBreezeSchema
VectorContainers/Token.API/VData/_DBreezeSchema.rhp
VectorContainers/Token.API/VData/_DBreezeSchema.rol
VectorContainers/Token.API/VData/_DBreezeTextIndexer
VectorContainers/Token.API/VData/_DBreezeTextIndexer.rhp
VectorContainers/Token.API/VData/_DBreezeTextIndexer.rol
VectorContainers/Token.API/VData/_DBreezeTranJrnl
VectorContainers/Token.API/VData/_DBreezeTranJrnl.rhp
VectorContainers/Token.API/VData/_DBreezeTranJrnl.rol
.DS_Store
VectorContainers/Token.API/VData/_DBreezeSchema.rhp
VectorContainers/Token.API/VData/_DBreezeSchema.rol
VectorContainers/Token.API/VData/_DBreezeTextIndexer
VectorContainers/Token.API/VData/_DBreezeTextIndexer.rhp
VectorContainers/Token.API/VData/_DBreezeTextIndexer.rol
VectorContainers/Token.API/VData/_DBreezeTranJrnl
VectorContainers/Token.API/VData/_DBreezeTranJrnl.rhp
VectorContainers/Token.API/VData/_DBreezeTranJrnl.rol
VectorContainers/Token.API/.DS_Store
VectorContainers/MessagePool.API/obj/Debug/netcoreapp2.1/MessagePool.API.assets.cache
VectorContainers/MessagePool.API/obj/Debug/netcoreapp2.1/MessagePool.API.RazorAssemblyInfo.cache
VectorContainers/MessagePool.API/obj/Debug/netcoreapp2.1/MessagePool.API.RazorAssemblyInfo.cs
VectorContainers/MessagePool.API/obj/MessagePool.API.csproj.nuget.cache
VectorContainers/MessagePool.API/obj/MessagePool.API.csproj.nuget.g.props
VectorContainers/MessagePool.API/obj/MessagePool.API.csproj.nuget.g.targets
VectorContainers/MessagePool.API/VData/_DBreezeSchema
VectorContainers/MessagePool.API/VData/10000001
VectorContainers/Token.API/.DS_Store
VectorContainers/Token.API/VData/10000001

*.Jnrl
*.rhp
*.rol
*.dll

*.pdb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.log

VectorContainers/MessagePool\.API/obj/project\.assets\.json

VectorContainers/MessagePool.API/VData
VectorContainers/TGMGateway/publish
10000001
10000002
10000003
_DBreezeSchema
_DBreezeTextIndexer
_DBreezeTranJrnl
data.mdb
lock.mdb

*.db
